@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* @import './assets/scss/var'; */

/* .flex-scss {
    @include flex-scss
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Outfit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* LAYOUT CSS */
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  height: 100%;
  width: 15vw;
}

.maincontent {
  background-color: #ffd9ad;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 5px;
}

.header {
  background-color: orange;
  height: 60px;
  overflow: hidden;
}

.section {
  background-color: white;
  flex: 1;
  overflow-y: scroll;
  padding: 0px 10px 0px 10px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.footer {
  background-color: green;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* OTHER CSS */
.logo {
  width: 20%;
}

h1 {
  color: #e0530d;
}

button {
  width: 100px;
  height: 40px;
  border: 1px solid rgb(226, 57, 57);
  color: white;
  background-color: rgb(226, 57, 57);
  cursor: pointer;
  border-radius: 50px;
}

input {
  width: 300px;
  height: 40px;
  padding-left: 20px;
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e0530d;
}

.input-file {
  /* FOR UPLOAD FILE INPUT FIELD */
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #ddd;
}

.button-link {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid #04aa6d;
  color: white;
  background-color: #04aa6d;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

.button-link :hover {
  background-color: red;
  color: white;
}

.button-link :active {
  background-color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th,
td {
  padding: 6px;
  border-bottom: 1px solid #ddd;
  border: 1px solid orange;
  text-align: center;
}

thead {
  background-color: #f4f4f4;
}

th {
  background-color: orange;
  color: #fff;
}

tr:hover {
  background-color: white;
}

.dropdown {
  width: 300px;
  height: 40px;
  padding: 10px;
  border: 1px solid #e0530d;
  border-radius: 4px;
  font-size: 10px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.dropdown:focus {
  border-color: black;
  outline: none;
}

@media (max-width: 710px) {
  .sidebar {
    display: none;
  }
}

/* TOAST */
#toastbar {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 400px;
  height: 80px;
  background: #fff;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  transition: opacity 0.5s;
  opacity: 1;
  position: relative;
}

.toast i {
  margin: 0 20px;
  font-size: 35px;
  color: green;
}

.toast.error i {
  color: red;
}

.toast.invalid i {
  color: orange;
}

.toast::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: green;
  animation: anim 3s linear forwards;
}

.toast.error::after {
  background: red;
}

.toast.invalid::after {
  background: orange;
}

.close-button {
  cursor: pointer;
  font-size: 20px;
  color: #555;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: color 0.3s;
}

.close-button:hover {
  color: red;
}


@keyframes anim {
  100% {
    width: 0;
  }
}